.signature-console{
	min-height: calc(37px - 7px);
	width: calc(100% - 10px);
	background: white;
	text-align: left;
	padding: 7px 5px 0px 5px;
	border-bottom: solid 1px #ddd;
}

.signature-console i{
	border-radius: 5px;
	padding: 4px;
	cursor:pointer;
	display:block;
	float:left;
	margin-bottom: 7.5px;
	margin-right:6px;
	font-size:14px;
	position: relative;
}

.signature-console span{
	margin-left:8px
}

.signature-console .active{
	background: #edf0ee
}

.signature-set-color{
	padding: 5px;
	border: solid 1px #eee;
	background: white;
	position: absolute;
	left: 0;
	top: 32px;
	border-radius: 3px
}

.signature-set-color:after{
	content: '';
	display: block;
	margin-top: -10px;
	width: 8px;
	height: 8px;
	border-top:solid 1px #eee;
	border-left: solid 1px #eee;
	background: white;
	transform: rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
}
